<app-header></app-header>
<img class="banner" src="./assets/Homepageimage.jpg" alt="banner">
<!------------------featured products--------------->
<div class="small-container">
    <h2 class="title">Featured products</h2>
    <div class="row">
            <div class="col-4">
            <img src="./assets/Clothing/Women/Dress8.jpg">
            
            <h4>White Gown</h4>
            <p>₹550.00</p>
            </div>
        <div class="col-4">
            <img src="./assets/Clothing/Women/Skirt2.jpeg">
           
            <h4>Brown Long Skirt</h4>
            <p>₹650.00</p>
        </div>
            <div class="col-4">
            <img src="./assets/Clothing/Women/Dress11.jpg">
            
            <h4>Frock</h4>
            <p>₹1000.00</p>
    </div>
    <div class="col-4">
        <img src="./assets/Clothing/Women/Dress10.jpg">

        <h4>Red Frock</h4>
        <p>₹1550.00</p>
    </div>
</div>
<h2 class="title">Latest Products</h2>
<div class="row">
    <div class="col-4">
        <img src="./assets/Clothing/Women/Dress1.jpg">
       
        <h4>Red Long Frock</h4>
        <p>₹550.00</p>
    </div>
    <div class="col-4">
        <img src="./assets/Clothing/Women/Skirt13.jpg">
       
        <h4>Denim skirt</h4>
        <p>₹650.00</p>
    </div>
    <div class="col-4">
        <img src="./assets/Clothing/Women/Dress15.jpg">
        
        <h4>Black and White Frock</h4>
        <p>₹1000.00</p>
    </div>
    <div class="col-4">
        <img src="./assets/Clothing/Women/Skirt11.jpg">
       
        <h4>Green Skirt</h4>
        <p>₹1550.00</p>
    </div>
    <div class="col-4">
        <img src="./assets/Clothing/Women/Skirt7.jpg">
       
        <h4>Blue Skirt</h4>
        <p>₹550.00</p>
    </div>
    <div class="col-4">
        <img src="./assets/Clothing/Women/Dress9.jpg">
       
        <h4>Black Frock</h4>
        <p>₹650.00</p>
    </div>
    <div class="col-4">
        <img src="./assets/Clothing/Women/Dress14.jpg">
        
        <h4>White Frock</h4>
        <p>₹1000.00</p>
    </div>
    <div class="col-4">
        <img src="./assets/Clothing/Women/Skirt12.jpg">
       
        <h4>Black skirt</h4>
        <p>₹1550.00</p>
        </div>
    </div>
</div>
<!---------------------offer------------>
<div class="offer">
<div class="small-container">
    <div class="row">
        <div class="col-2">
            <img src="./assets/Clothing/Home5.jpg" class="offer-img">
        </div>
        <div class="col-2">
            <p>Dress how you want to be addressed!</p>
            <br/>
        </div>
    </div>
</div>
</div>
<app-footer></app-footer>
