
    <title>Prodcuts</title>
      <link rel="stylesheet" href ="skirt.component.css"/>
      <link  rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"/>
      <link  rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css"/>
      <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
     
      <!--  ---------------------------------------->
      <app-header></app-header>
      <div class="small-container">
        <div class="row">
          <h2 style="text-align:center;font-size:40px;padding-top:10px;">Skirts</h2>
        </div>
            <hr>
              <div class="row">
                <div class="col-4">
                  <img src="./assets/Clothing/Women/Skirt1.jpg">
                  <span><input type="button" Value="Add to Cart" routerLink="/app-cart"></span>
                <h4>Green skirt</h4>
                  <br>
                  <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                  </div>
                  <br>
                  <p>Rs.3000/-</p>
                </div>
                <div class="col-4">
                  <img src="./assets/Clothing/Women/Skirt2.jpeg">
                  <span><input type="button" Value="Add to Cart" routerLink="/app-cart"></span>
                  <h4>Maroon Long Skirt</h4>
                  <br>
                  <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                  <br>
                  <p>Rs.1500/-</p>
              </div>
                  <div class="col-4">
                    <img src="./assets/Clothing/Women/Skirt3.jpg">
                    <span><input type="button" Value="Add to Cart" routerLink="/app-cart"></span>
                    <h4>Red Knee Length Dress</h4>
                    <br>
                    <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                    </div>
                    <br>
                    <p>Rs.1200/-</p>
                  </div>
        </div>
              <div class="row">
                <div class="col-4">
                  <img src="./assets/Clothing/Women/Skirt4.jpg">
                  <span><input type="button" Value="Add to Cart" routerLink="/app-cart"></span>
                  <h4>Grey Skirt</h4>
                  <br>
                  <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                  </div>
                  <br>
                  <p>Rs.3550/-</p>
                </div>
                <div class="col-4">
                  <img src="./assets/Clothing/Women/Skirt5.jpg">
                  <span><input type="button" Value="Add to Cart" routerLink="/app-cart"></span>
                  <h4>Dark Green Knee Length Dress</h4>
                  <br>
                  <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                  </div>
                  <br>
                  <p>Rs.1700/-</p>
                  </div>
                  <div class="col-4">
                    <img src="./assets/Clothing/Women/Skirt6.jpg">
                    <span><input type="button" Value="Add to Cart" routerLink="/app-cart"></span>
                    <h4>Checks Skirt</h4>
                    <br>
                    <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                    </div>
                    <br>
                    <p>Rs.1800/-</p>
                  </div>
                  </div>

                
                  <div class="row">
                <div class="col-4">
                  <img src="./assets/Clothing/Women/Skirt7.jpg">
                  <span><input type="button" Value="Add to Cart" routerLink="/app-cart"></span>
                  <h4>Blue Skirt</h4>
                  <br>
                  <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                  </div>
                  <br>
                  <p>Rs.700/-</p>
                </div>
                <div class="col-4">
                  <img src="./assets/Clothing/Women/Skirt8.jpg">
                  <span><input type="button" Value="Add to Cart" routerLink="/app-cart"></span>
                  <h4>White Long Skirt</h4>
                  <br>
                  <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                  </div>
                  <br>
                  <p>Rs.2200/-</p>
                  </div>
                  <div class="col-4">
                    <img src="./assets/Clothing/Women/Skirt9.jpg">
                    <span><input type="button" Value="Add to Cart" routerLink="/app-cart"></span>
                    <h4>Black Short Skirt</h4>
                    <br>
                    <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                    </div>
                    <br>
                    <p>Rs.3200/-</p>
                  </div>
                </div>
              </div>


            <script>
                    $('.icon').click(function(){
                      $('span').toggleClass("cancel");
                    });
                  </script>